*{padding:0px;
margin:0px;}
body {
font-family: 'Gothic A1', sans-serif;
}


#titre{
font-size:60px;
padding-top:10px;
padding-bottom:15px;
text-align: center;
box-sizing: Border_box;
width: 100%;
background-clip:border-box;
}


#sous-titre{
width:100%;
font-size:30px;

padding-top:7px;
padding-bottom: 7px;
color: white;
background: #000;
 display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.presentation{
 display: grid;
  grid-template-columns:
  1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo-a photo-b";
  height: 300px;
  width: 100%;
}
@media screen and (max-width: 400px) {
    .presentation {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "photo-a"
          "photo-b";
        height: 100%;
        width: 100%;
      }
      #sous-titre{
font-size:30px;

padding-top:7px;
padding-bottom: 7px;
color: white;
background: #000;
 display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    }
img.photo {
width:100%;
height:300px;
}
#blague, #reponse{
font-size:40px;
padding-top:20px;
padding-bottom: 5px;
text-align: center;
width:100%;
}

.phototest{
margin:10px;
margin-left:auto;
margin-right:auto;
}
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom:20px;
  font-size: 30px;
}