body {
font-family: 'Gothic A1', sans-serif;
}


#titre{
font-size:60px;
padding-top:10px;
padding-bottom:15px;
text-align: center;
box-sizing: Border_box;
height: 100%;
background-clip:border-box;
}


#sous-titre{
font-size:30px;

padding-top:7px;
padding-bottom: 7px;
color: white;
background: #000;
 display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.presentation{
 display: grid;
  grid-template-columns:
  1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "photo-a photo-b";
  height: 300px;
  width: 100%;
}
@media screen and (max-width: 100px) {
    .presentation {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "photo-a"
          "photo-b";
        height: 100%;
        width: 100%;
      }
    }
img.photo {
width:auto;
height:300px;
}
#blague, #reponse{
font-size:40px;
padding-top:20px;
padding-bottom: 5px;
text-align: center;
box-sizing: Border_box;
height: 100%;
border-color:#000;
background-clip:border-box;
}

.phototest{
margin:10px;
margin-left:auto;
margin-right:auto;
}
